# Python cache / bytecode
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
.venv/
venv/
env/

# Django stuff
db.sqlite3
/media
/staticfiles

# Environment variables
.env

# VSCode / IDE files
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db
