# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3

# Django specific
db.sqlite3
/media/
/staticfiles/

# Virtual environment
.venv/
env/
venv/

# IDE/editor files
*.vscode/
*.idea/
*.DS_Store

# Environment & secrets
.env

# Logs
*.log
